{% extends 'event/base.html' %}
{% block content %}
    <header>
        <nav>
            <!-- Other navigation links go here -->
            {% if user.is_authenticated %}
                <a href="{% url 'logout-page' %}">Logout</a>
            {% else %}
                <a href="{% url 'login-page' %}">Login</a>
                <a href="{% url 'registration-page' %}">Register</a>
            {% endif %}
        </nav>
    </header>
    <a href="{% url 'event-search' %}">Search for events</a>
    {% for event in object_list %}
    <h2>{{ event.title }}</h2>
    <p>{{ event.start_date }}</p>
    <p>{{ event.address }}</p>
    <img src="{{ event.event_logo }}" alt="{{ event.title }} logo">
    <a href="{% url 'detail-view' event.id %}">Click to find out more!</a>
{% endfor %}
{% endblock content %}