{% extends 'event/base.html' %}
{% block content %}
    <h2 style="text-align: center; padding-top: 50px" >Search for Events</h2>
    <br>
   <div class="form-container" style="text-align: center">
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-danger">
      <i class="bi bi-search"></i>
    </button>
  </form>
</div>
    <!-- Display search results -->
    {% if search_results %}
      {% for event in search_results %}
        <div style="text-align: center; padding-top: 75px">
          <h4>{{ event.title }}</h4>
          <p>{{ event.start_date }}</p>
          <p>{{ event.address }}</p>
          <p>{{ event.description }}</p>
          <p>{{ event.venue }}</p>
          <img src="{{ event.event_logo }}" alt="{{ event.title }} logo">
          <a href="{{ event.link }}">Event Link</a>
        </div>
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}
