{% extends 'event/base.html' %}
{% block content %}

{% load static %}
  <div class = "container">
    <div class = "text-center container">
      <br>
      <h2 class = "text-center">Search for your favorite Event</h2>
      <br>
      <form method="GET">
        <input type = "text" name = "event_id" placeholder="Search..." class = "text-center">
        <button type = "submit" class = "btn-danger btn-sm">SEARCH EVENT</button>
      </form>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-lg-3">
          <div class="card">
            <img class="card-img-top" src="{{ selected_events.event_logo }}" alt="Card image cap">
            <div class="card-body text-center">
              <p class="card-title">{{ selected_events.name }}</p>
              <hr>
              <p class="card-text">{{ selected_events.description }}</p>
              <a href="/meals/{{selected_events.id}}"
              ><input
                type="submit"
                value="Learn More"
                class="btn btn-danger btn-sm"
                type="button"
            /></a>
            </div>
          </div>
          <br><br><br>
        </div>
    </div>
  </div>
{% endblock %}