{% extends 'event/base.html' %}
{% block content %}


  <div class = "container">
    <div class = "text-center container">
      <br>
      <h1 class = "text-center">Welcome to Event Horizon - The best place to find events!</h1>
      <h2 class = "text-center">Search for an event</h2>
      <br>
 <form method="GET">
  <div class="input-group">
    <input type="text" name="event_id" placeholder="Search..." class="form-control">
    <div class="input-group-append">
      <button type="submit" class="btn btn-danger">
        <i class="bi bi-search"></i>
      </button>
        <br>
        <button type="submit" class="btn btn-danger" href="{%  url 'event-list' %}">Explore events</button>
    </div>
  </div>
</form>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-lg-3">
          <div class="card">
            <img class="card-img-top" src="{{ selected_events.event_logo }}" alt="Card image cap">
            <div class="card-body text-center">
              <p class="card-title">{{ selected_events.name }}</p>
              <hr>
              <p class="card-text">{{ selected_events.description }}</p>
              <a href="/event/{{selected_events.id}}"
              ><input
                type="submit"
                value="Learn More"
                class="btn btn-danger btn-sm"
                type="button"
            /></a>
            </div>
          </div>
          <br><br><br>
        </div>
    </div>
  </div>
{% endblock %}