<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Horizon Main</title>
    {% load static %}
    {% load crispy_forms_tags %}
    <link rel="stylesheet" href="{% static 'theme/css/styles.css' %}">
    <script src="{% static 'theme/js/scripts.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css">
</head>
<body>
<div class="login-container">
        <div class="logo-container">
            <img src="{% static 'theme/css/Event-modified.png' %}" alt="Event-Horizon Logo" class="logo-image">
        </div>
        <div class="login-form-container">
            <h2 class="login-title">Log in</h2>
            <form method="post" class="login-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="login-button">Log In</button>
            </form>
            <div class="signup-link">
                <small>Don't have an account? <a href="{% url 'registration-page' %}">Sign up</a></small>
            </div>
            <div class="forgot-password-link">
                <a href="#">Forgot password?</a>
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock content %}
</body>
</html>