{% extends 'event/base.html' %}

{% block content %}
    <br>
    <br>
    <br>
        <h1 style="text-align: center">{{ user.username }}</h1>
            <h4 style="text-align: center">
            <br>
                <br>
                Upcoming events:
            </h4>
                {% for ticket in tickets %}
                    <li>{{ ticket.event.name }} - {{ ticket.event.start_date }}</li>
                {% empty %}
                    <li style="color: #fcecc4; text-align: center">No events found</li>
                {% endfor %}
    <br>
    <br>

    <a href="{% url 'logout-page' %}" class="logout-button">Logout</a>
{% endblock content %}